<ion-header>
  <ion-navbar color='darkred'>
    <ion-title *ngIf='!isSearchBarOpened'>
      <p>Characters</p>
    </ion-title>
    <ion-searchbar animated='true' *ngIf='isSearchBarOpened' showCancelButton='true' (ionCancel)='searchBarCancel()' (ionInput)="search($event)" placeholder='Name os character'></ion-searchbar>
    <ion-buttons end>
      <button ion-button icon-only *ngIf='!isSearchBarOpened' (click)='isSearchBarOpened=true'>
        <ion-icon name="search" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >

  <ion-list *ngFor='let alf of abc'>
    <ion-item-divider>{{alf.letter}}</ion-item-divider>
    <div *ngFor='let hero of ListHeroes'>
      <button ion-item *ngIf='hero.firstLetterId == alf.num' (click)='getDescription(hero)'>
        <ion-avatar item-start>
          <img src='{{hero.photo}}'>
        </ion-avatar>
        <h2>{{hero.name}}</h2>
      </button>
    </div>
  </ion-list>

</ion-content>
