page-home {
    @import url('https://fonts.googleapis.com/css?family=Barlow');
    @import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');

    *{
        margin: 0;
    }
    ion-navbar p{
        font-family: 'Barlow Condensed', bold;
        font-size: 20px;
        line-height: 24px;
        width: 81px;
        height: 24px;
    }
    
    ion-content{
        width: 100%;
        height: 100%;
        background: color($colors, 'background') !important;
    }
}
